<div *ngIf="flights.length > 0; else noFlights">
  <ul>
    <li *ngFor="let flight of flights">
      <p>Flight Number: {{ flight.flight_number }}</p>

      <p>Route: {{ flight.departure_airport_name }} ({{flight.departure_airport_code}})
            ->  {{ flight.arrival_airport_name }} ({{ flight.arrival_airport_code }})</p>

      <p>Departure: {{ flight.departure_time }} -> Arrival: {{ flight.arrival_time }}</p>

      <p>Price: {{ flight.price }}</p>
    </li>
  </ul>
</div>
<ng-template #noFlights>
  <p>No flights available.</p>
</ng-template>
